#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_ICON1 ICON ".\\icons\\16x16.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_ICON2 ICON ".\\icons\\32x32.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_ICON3 ICON ".\\icons\\48x48.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
2 VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
3 RT_MANIFEST    ".\\manifest.xml"
